*{
  box-sizing: border-box;
}

html{
  font:12pt arial, sans-serif;
}

body{
  margin:0;
  padding:0;
}


/* HEADER */

.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-text a{
  text-decoration: none;
  color: black;
}

.NewLDRLogo {
  width: 150px;
  height: 150px;
  margin: 5px;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* SPOTLIGHT */

.spotlight {
  margin: 0px;
}

/* MAIN */


.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-title {
  display: flex;
  justify-content: center;
}

.main-contact{
background-color: red;
}

.main-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 4em;
}

.main-info-register {
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  font-size: 3em;
}

.main-button {
  display: flex;
  justify-content: center;
  background-color: red;
}

.main-view-button {
display: flex;
justify-content: center;
}

.main-sponsors {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.main-right-list {
  display: flex;
  flex-direction: column;
}

.main-left {
  display: flex;
  flex-direction: column;
}

.main-center {
  display: flex;
  flex-direction: column;
}

.main-right {
  display: flex;
  flex-direction: column;
}

.main-img-map {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}

.order {
  display: flex;
  justify-content: space-between;
}

.main-race-info {
  background-color: red;
}

.sponsors-main {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.main-race-info-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
}